<?xml version="1.0" encoding="UTF-8"?>
<configuration>
 <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
 <property name="CONSOLE_LOG_PATTERN" value="%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(${LOG_LEVEL_PATTERN:-%5p}) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>
 <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	 <file>log/SpringBoot.log</file>
	 <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	 	<fileNamePattern>log/SpringBoot.%d{dd-MM-yyyy}.log</fileNamePattern>
	 	<maxHistory>30</maxHistory>
	 </rollingPolicy>	
	 <encoder>
 		<pattern>${CONSOLE_LOG_PATTERN}}</pattern>
 	 </encoder>
 </appender>
 <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
	 <encoder>
	 	<pattern>${CONSOLE_LOG_PATTERN}</pattern>
	 </encoder>
 </appender>
 <root level="INFO">
    <appender-ref ref="FILE"/>
    <appender-ref ref="STDOUT" />
 </root>
 <!-- <logger name="org.springframework" level="WARN"/>
 <logger name="org.springframework.transaction" level="WARN"/> -->
</configuration>